<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/assets/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/70b87a81bf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js? key=AIzaSyAtUpCNzUtUl0W-35BbzTrMdnTMr2pkLQk&sensor=true"></script>
    <!-- Font Awaresome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/main.css">


</head>
<style type="text/css">

</style>

<body>


    <main>
        <div class="inner">
        <form class="form_container">
          <label htmlFor="username">Find IP Infor</label>
          <p class="example text-sm text-muted text-monospace">Type : google.com or 1.14.754</p>
          <input name="username" type="text" />
        </form>

        </div>
    </main>

  <div id="main_container">
      <main class="RateLimit__LimitStyles-sc-1et48hd-0 bREiXb">
        <div class="limit ">
          <div class="num">57 / 60</div>
          <p>Requests Left</p>
        </div>
      </main>


    <section class="Section-ngommr-0 dCFVor">
      <div class="UserInfoStyles-sc-1givptw-0 ip_infor jKZXcq">
        <div class="avatar"><img src="https://avatars.githubusercontent.com/u/69904835?v=4" alt="avatar"></div>
        <h1> ip: 142.250.186.174</h1>
        <h2><a href="https://github.com/Jakaza" target="_blank" rel="noopener noreferrer">www.google.com</a></h2>
        
        <div class="info">
          <span class="info__item">
            <svg aria-hidden="true" class="octicon" height="16" role="img" viewBox="0 0 12 16" width="12" style="display: inline-block; fill: currentcolor; user-select: none; vertical-align: text-bottom;"><path fill-rule="evenodd" d="M6 0C2.69 0 0 2.5 0 5.5 0 10.02 6 16 6 16s6-5.98 6-10.5C12 2.5 9.31 0 6 0zm0 14.55C4.14 12.52 1 8.44 1 5.5 1 3.02 3.25 1 6 1c1.34 0 2.61.48 3.56 1.36.92.86 1.44 1.97 1.44 3.14 0 2.94-3.14 7.02-5 9.05zM8 5.5c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path>
            </svg>Germany 
          </span>
          
          <span class="info__item"><svg aria-hidden="true" class="octicon" height="16" role="img" viewBox="0 0 14 16" width="14" style="display: inline-block; fill: currentcolor; user-select: none; vertical-align: text-bottom;"><path fill-rule="evenodd" d="M13 2h-1v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H6v1.5c0 .28-.22.5-.5.5h-2c-.28 0-.5-.22-.5-.5V2H2c-.55 0-1 .45-1 1v11c0 .55.45 1 1 1h11c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm0 12H2V5h11v9zM5 3H4V1h1v2zm6 0h-1V1h1v2zM6 7H5V6h1v1zm2 0H7V6h1v1zm2 0H9V6h1v1zm2 0h-1V6h1v1zM4 9H3V8h1v1zm2 0H5V8h1v1zm2 0H7V8h1v1zm2 0H9V8h1v1zm2 0h-1V8h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1zm2 0h-1v-1h1v1zm-8 2H3v-1h1v1zm2 0H5v-1h1v1zm2 0H7v-1h1v1zm2 0H9v-1h1v1z"></path></svg>Joined August 19, 2020</span></div>
        
        
    <div class="stats">
          <div class="stats__item">
            <span class="num">Proxy</span><span class="num-label">TRUE </span>
          </div>
          
          <div class="stats__item">
            <span class="num">VPN</span>
            <span class="num-label">FALSE </span>
          </div>
          
          <div class="stats__item">
            <span class="num">Hosting</span>
            <span class="num-label">TRUE</span>
          </div>
        </div>
      </div>
    </section>

    <section class="generail_ip_info"> 
    <h4>More About - <span>142.250.186.174</span> </h4>
	<ol class="olcards">
		<li style="--cardColor:#fc374e">
			<div class="content">
				<div class="title">Lorem Ipsum</div>
			</div>
		</li>
		<li style="--cardColor:#36aeb3">
			<div class="content">
				<div class="title">Lorem Ipsum</div>
			</div>
		</li>
		<li style="--cardColor:#162d59">
			<div class="content">
				<div class="title">Lorem Ipsum</div>
			</div>
		</li>
		<li style="--cardColor:#f15f0e">
			<div class="content">
				<div class="title">Lorem Ipsum</div>
			</div>
		</li>
	</ol>
    </section>


    <section class="Section-ngommr-0 ip_more_info iZMYk">
      <div class="ChartsStyles-sc-7w4exj-0 ip_content_info euKsvg">
        <div class="chart">
          <header>
            <h2>Connection</h2>
          </header>
          <div class="chart-container">
            <ul class="list">
    <li class="list-item one">Enclosed above</li>
    <li class="list-item two">In green uncertainty,</li>
    <li class="list-item three">At any tim</li>
    <li class="list-item four">And doom </li>
                  <li class="list-item two">In green uncertainty,</li>
    <li class="list-item three">At any tim</li>
    <li class="list-item four">And doom </li>
</ul>
          </div>

        </div>


        <div class="chart">
          <header>
            <h2>Timezone</h2>
          </header>
          <div class="chart-container">
            <ul class="list">
    <li class="list-item one">Enclosed above</li>
    <li class="list-item two">In green uncertainty,</li>
    <li class="list-item three">At any tim</li>
    <li class="list-item four">And doom </li>
                  <li class="list-item two">In green uncertainty,</li>
    <li class="list-item three">At any tim</li>
    <li class="list-item four">And doom </li>
</ul>
          </div>

        </div>

        <div class="chart">
          <header>
            <h2>Currency</h2>
          </header>
          <div class="chart-container">
            <ul class="list">
    <li class="list-item one">Enclosed above</li>
    <li class="list-item two">In green uncertainty,</li>
    <li class="list-item three">At any tim</li>
    <li class="list-item four">And doom </li>
                  <li class="list-item two">In green uncertainty,</li>
    <li class="list-item three">At any tim</li>
    <li class="list-item four">And doom </li>
</ul>
          </div>

        </div>

          

      </div>

    </section>

    
  </div>


      

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>


</body>

</html>