
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body,
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
}

body{
    color: #c8e1ff;
  background-color: rgb(26, 30, 34);
}

a {
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
    color: rgb(0, 112, 243);
    display: inline-block;
}

/****** form  ******/
.form_container{
  width: 100%;
  heigh: 500px;
  margin: 0 auto;
}
  form {
    background-color: transparent;
    border-radius: 5px;
    padding: 2rem;
    margin-bottom: 20vh;
    max-width: 600px;
    text-align: center;
   }

   form > p {
      margin-bottom: 1px;
   }

  label {
      display: block;
      font-size: 2.5rem;
      font-weight: 500;
      /* margin: 2rem; */
    }

    input {
      background-color: #26303c;
      outline: 0;
      border: 0;
      border-radius: 0.25rem;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      padding: 1rem;
      color: #c8e1ff;
      font-family: 'SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, monospace';
      font-size: 2rem;
      font-weight: 400;
      text-align: center;
    }




/************** main_container **********************/

#main_container{
  width: 100%;
  height: auto;
  margin-bottom: 70px;
}
.hidden{
  display: none;
}
.limit {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 1rem;
}
.num {
    color: rgb(106, 115, 125);
    font-size: 20px;
    margin-bottom: 0.1rem;
}

.limit p {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0px;
    color: rgb(88, 96, 105);
}

.ip_infor{
  display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
}

.ip_infor .avatar {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 1.5rem;
    border: 0.5rem solid rgb(0, 112, 243);
    border-radius: 15px;
    width: 150px;
    height: 80px;
  margin-top: 15px;
}
.ip_infor .avatar img {
    border-radius: 0px;
}

.ip_infor .avatar img {
    width: 100%;
    max-width: 100%;
    height: 50px;
    vertical-align: middle;
}

.ip_infor  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  font-weight: 500;
    color: rgb(246, 248, 250);
}

.ip_infor h2 {
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.ip_infor h2 a {
    color: rgb(0, 112, 243);
}

.ip_infor .info {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.ip_infor .info__item {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 1rem 0.5rem;
    white-space: nowrap;
}

.ip_infor .info__item svg {
    margin-right: 10px;
}
/****************** generail_ip_info *******************/

.generail_ip_info{
  width: 80%;
  margin: 0 auto;
  height: auto;
  padding-bottom: 25px;
  margin-bottom: 50px;
}

.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.olcards {
  list-style: none;
  counter-reset: cardCount;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  --cardsGap: 0.5rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
}
.olcards li {
  counter-increment: cardCount;
  display: flex;
  color: white;
  --labelOffset: 0.8rem;
  --arrowClipSize: 1.5rem;
  margin-top: var(--labelOffset);
  min-width: 80%;
}

/* .olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: white;
  color: var(--cardColor);
  font-size: 2em;
  font-weight: 700;
  transform: translateY(calc(-1 * var(--labelOffset)));
  margin-right: calc(-1 * var(--labelOffset));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
} */

.olcards li .content {
  background-color: #26303c;
  --inlinePadding: 1em;
  --boxPadding: 0.5em;
  display: grid;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  grid-template-areas:
    "icon title"
    "icon text";
  gap: 0.25em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
    0 calc(100% + var(--cardsGap))
  );
  position: relative;
}
.olcards li .content::before {
  content: "";
  position: absolute;
  width: var(--labelOffset);
  height: var(--labelOffset);
  background: var(--cardColor);
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
}
.olcards li .content::after {
  content: "";
  position: absolute;
  height: var(--cardsGap);
  width: var(--cardsGap);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
  left: 0;
  top: 100%;
}
.olcards li .icon {
  grid-area: icon;
  align-self: center;
  font-size: 2em;
}
.olcards li .content .title {
  grid-area: title;
  font-size: 1.25em;
  /* font-weight: 700; */
}
.olcards li .content .text {
  grid-area: text;
}



/****************** stats *******************/

.ip_infor .stats {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 150px));
    gap: 0.5rem;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 2rem;
}

.ip_infor .stats__item {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(36, 41, 46);
    padding: 1rem;
    border-radius: 0.25rem;
    text-align: center;
}

.ip_more_info > div {
    max-width: 1400px;
    margin: 0px auto;
}

.ip_content_info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 1200px !important;
    margin-top: -1rem !important;
}



.chart header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.iZMYk header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 2rem;
}

header h2 {
    display: inline-block;
    margin: 0px;
    font-size: 1.75rem;
    background-image: linear-gradient(90deg, rgb(209, 213, 218) 50%, rgba(255, 255, 255, 0) 0px);
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: 10px 2px;
    padding-bottom: 6px;
}



/*************** chart-container ***********************/

.ip_content_info .chart {
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 30px -15px;
}

.chart-container{
   color: #26303c;
}

.chart-container ul{
  margin: 0; 
}



.chart-container ul li {
  list-style: none;
  position: relative;
  padding: 3px 0 2px 0px;
}

.chart-container ul li::before {
  content: '*';
  position: absolute;
  top: 6px;
  left: -15px;
}



/********************* blank_container **************************/

.blank_container{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgb(26, 30, 34);
}

.hidden{
  display: none;
}